<div class="comments-new">
	<% if current_user %>
		<%= bootstrap_form_for @comment do |f| %>
			<%= f.hidden_field :post_id, value: params[:post_id] %>
			<%= f.hidden_field :user_id, value: current_user.id %>
		<br>
			<%= f.text_field :content %>
		<br>
			<%= f.submit %>
		<% end %>
	<% end %>
</div>

<!-- add comment to post you came from -->