<div class="home">
	<% if current_user %>
		<% @posts.each do |post| %>
				<div class="front-page-posts">
					<h3> <%= post.title %> </h3>
					<a href="/users/<%= post.user.id %>"> <%= post.user.username %> </a>
					<hr>
					<p><%= post.content %></p>
					<br>
					<a href="/posts/<%= post.id %>"> View </a>
				</div>
		<% end %>
	<% end %>
</div>

<!-- lists all posts in order of most recent -->