<div class="posts-show">
	<% if current_user %>
	<h1><%= @post.title %></h1>
	<br>
	<h4> User: <a href="/users/<%= @user.id %>"> <%= @user.username %> </a> </h4>
	<br>
	<p>
		<%= @post.content %>
		<%= link_to "Edit", edit_post_path(@post) %>
	</p>
	<br>
	<br>
	<h1>Comments: </h1>
		<% @comments.each do |comment| %>
					<h4>Posted by: <%= comment.user.username %></h4>
					<p><%= comment.content%></p>
					<br>
			<% end %>
	<%= link_to "Add Comment", new_comment_path(post_id: @post.id) %>
	<% end %>
</div>