<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
	
  <body>

  <p>Current User: <%= current_user ? current_user.username : "No user signed in." %></p>
  <a href="/posts">Home</a>
  <ul>
  <% if current_user %>
    <li><a href="/users/<%= current_user.id %>">My Profile</a></li>
    <li><a href="/posts/new">Add New Post</a></li>
    <li><a href="/logout">Logout</a></li>
  <% else %>
    <li><a href="/login">Login</a></li>
    <li><a href="/users/new">Signup</a></li>
  <% end %>
  </ul>
    <%= yield %>
  </body>
</html>
